<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usst.mapper.TicketGjMapper">
    <select id="SelectAll" resultType="com.usst.pojo.TicketGj">
        select * from guoji
    </select>
    <select id="SelectBySome" resultType="com.usst.pojo.TicketGj">
        select * from guoji where level=#{0} and start=#{1} and end=#{2} and time=#{3}
    </select>


    <update id="UpdateAmount" >
        update guoji set amount=amount-1 where id =#{0}
    </update>
</mapper>